nav{
   background-color: rgb(78, 64, 64); 
   display: flex; 
   justify-content: space-between;
   align-items: center;
   padding:12px ;
}

.elementosNav{
    display: flex; 
    text-decoration: none;
    
}
.elementosNav img{
   max-height: 71px;  
}
.listaNav{
    display: flex; 
    list-style: none;    
}

.listaNav li{
    padding: 21px;  
    color: darkolivegreen; 
    font-size: 21px;
    font-weight: 700;
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    margin: 0;
  }

  h1 {
    padding:0;
    margin:0;
   }
   .flex2{
    width: 84%;
     
   }
.Contenedor-Inicio{
    height: 460px; 
    width: 100%;
    background-image: url("../../core/img/FondoInicio.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll; 
    background-attachment: fixed;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto ;
}   
  
.Titulos-Inicio h1 {
    color: darkgoldenrod;
    font-size: 22px;
    padding: 160px; 
    line-height: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Contenedor-categorias{
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 100vh ; 
    width: 100%;
    background-image: url("../../core/img/FondoCategorias.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    background-attachment: scroll; 
    background-attachment: fixed; 
   
}
.Contenedor-categorias h1 {
    color: darkgoldenrod;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
    text-align: center;
    padding: 34px;
    font-weight: 800;
}
.Categorias{
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin: 0 auto ;
    flex-wrap: wrap;  
    height: 80%;
}
 
.CategoriaTipo{
    width: 29%; 
    background-color: thistle;
    align-self: center;
    margin: 8px; 
    flex-grow: 2; 
    display: flex;
    flex-direction: column;
}

.CategoriaTipo a{
    text-decoration: none;
}
.CategoriaTipo span {
    color: darkgoldenrod;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
}
.imgCategoria {
    width: 100%;
    height: 91%;
     
}
.imgCategoria img{
    width: 100%;
    height: 100%;
}

.contenedorPaginaCategoria{
    display: flex;
    align-items: center;
     
}  
.filasCategoria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid;
    padding: 6px;  
    font-size: 14px;
}  
 
.contenedorJuegos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
     
}  
.Juegos-Categoria{
    width: 60%; 
    height: 40%;    
}
.Juego{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border: 2px solid;
    height: 40%;
    width: 90%;
    margin-right: 0%!important; 
}
.Juego span {
    display: flex;  
    padding: 12px;  
    font-size: 16px;  
}

.Contenido-Juego{ 
    padding: 0px !important;  
}
.Contenido-Juego img{ 
    max-height: 200px; 
    width: 100%;  
}

.textoJuegos{
    padding: 12px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: rgb(181, 193, 108)
}
.topPagJuego{
    border-bottom: 1px solid; 
    padding: 20px;
}
.contenedorPagJuego{
    display: flex;  
    flex-direction: column; 
    align-items: center ;
    margin-top: 20px;
}

.ImgJuego{
    width: 70%; 
    height: 400px; 
}

.textoPagJuego{
    display: flex;  
    flex-direction: column; 
    align-items: center ;
    width: 100%; 
}

.tituloJuego{
    width: 70%; 
    border: 1px solid; 
    padding: 40px;
    text-align: center;
    font-weight: 600;
    font-size: 41px;
    color: rgb(181, 193, 108);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.precioPagJuego{
    display: flex;  
    justify-content: space-around;
    align-items: center ;
    width: 40%;
}

.precioPagJuego :last-child{
    border: 1px solid; 
    padding: 20px;
    text-align: center;
    width: 40%; 
}
.Form {
    background-color: yellow;
    border-radius: 20px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
}

 

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
.buttons{
    display: flex;
    justify-content: space-around;
    margin-top: 10;
}
.buttons > *{
    font-size: small;
    margin: 20px;
}

.usuarios{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #7dcd81;
}
.usuarios h3{
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 20px;
}
.usuarios span{ 
    padding: 10px;
}
.usuarios span a{
    text-decoration: none; 
    padding: 10px;
}
footer{
    height: 40vh;
    background-color: #310072;
    display: flex;
    justify-content: space-around; 
    align-items: center; 
    padding: 10px;
}

.info-contacto-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.info-contacto-footer a{
    text-decoration: none;
    font-weight: 600;
    padding: 20px;
    font-size: medium;
    color: #bdb76b; 
}

.info-uf-footer{
    padding: 20px;
    font-size: medium;
    color: #bdb76b;
}
.line-footer{
    border: 1px solid #3379e9;
    margin-right: 17px;
    height: 70%; 
}

.imgFooter{ 
    height: 60%; 
}